{
  // If enable ALE
  // "diagnostic.displayByAle": true,

  // coc-pyright
  // https://github.com/fannheyward/coc-pyright/blob/master/package.json
  "diagnostic.showUnused": false,
  "pyright.inlayHints.functionReturnTypes": false,
  "pyright.inlayHints.variableTypes": false,
  "python.analysis.typeCheckingMode": "off",
  "pyright.disableDiagnostics": false, // Use ALE
  "python.linting.pylintEnabled": true, // Use ALE
  "python.analysis.diagnosticSeverityOverrides": {
    // "reportMissingImports": "none"
  },
  "python.linting.pylintArgs": [
    "--disable=C,W,R",
    "--disable=method-hidden,no-member"
  ],
  "python.linting.mypyEnabled": true,

  "languageserver": {
    "ccls": {
      "command": "ccls",
      "args": ["-log-file=/tmp/ccls.log", "-v=1"],
      "filetypes": ["c", "cpp", "cuda", "objc", "objcpp"],
      "rootPatterns": [".ccls", "compile_commands.json", ".git/", ".hg/", ".ccls-root", "compile_commands.json"],
      "initializationOptions": {
        "cache": {
          "directory": ".ccls-cache"
        },
        "client": {
          "snippetSupport": true
        },
        "clang": {
          "extraArgs": [
            "-isystem",
            "/Library/Developer/CommandLineTools/usr/include/c++/v1",
            "-stdlib",
            "libc++"
          ]
        }
      }
    },
    "golang": {
      "command": "gopls",
      "rootPatterns": ["go.work", "go.mod", ".vim/", ".git/", ".hg/"],
      "filetypes": ["go"],
      "initializationOptions": {
        "usePlaceholders": true
      }
    }
  }
}
